/* font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto Condensed', sans-serif;
}
h1,h2{
    font-family: 'Oswald', sans-serif;
}
section{
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
}
form,.posts{
    margin: 15px 0;
}
label{
    font-weight: 700;
}
input{
    display: block;
    width: 300px;
    padding: 5px;
    margin-bottom: 10px;
}
a{
    text-decoration: none;
    padding: 5px 10px;
    background-color: rgb(230, 90, 255);
    color: black;
    border-radius: 5px;
}